guess-game/target
rust-book-ch3/target
rust-book-ch4/target
rust-book-ch4-pt2/target
tutorial1/target
tutorial2/target
tutorial3/target
tutorial4/target
tutorial5/target
tutorial6/target
rocket/target
rust-book-ch5/target
rust-book-ch5-pt2/target
rust-book-ch6/target
rust-book-ch6-pt2/target
rust-book-ch6-pt3/target
rust-book-ch7/target
rust-book-ch7-pt2/target
rust-book-ch7-pt3/target
rust-book-ch7-pt4/target
rust-book-ch7-pt5/target
rust-book-ch7-pt6/target
rust-book-ch8/target
rust-book-ch8-pt2/target
rust-book-ch8-pt3/target
rust-book-ch8-pt4/target
